<h1 id="current" class="current"></h1>
<div class="container-fluid">
<form role="form">
<div class="d-sm-flex flex-wrap">
<p *ngFor="let day of currentdays"><label for="{{day}}">{{day}}</label><textarea rows="6" cols="25" attr.id = "{{day}}" class="form-control"></textarea></p>
<p id="note" hidden=true><label for="notes">Notes:</label><textarea rows="6" cols="25" id ="notes" class="form-control"></textarea></p>
</div>
</form>
</div>
<footer class="page-footer font-small">
<div class="footer-copyright text-center py-3">
<br><a href="https://shinsina.github.io">Return to Homepage</a>
</div>
</footer>
